page-home {

}
#h1{
    text-align: center;
}
#btnp{

    float: right;
    height: 4em;
    width: 50px;
    margin-right: 65px;
}
#btns{

float: left;
height: 4em;
width: 50px;
margin-left: 65px;
}



#lbl{
    margin-top: 20px;
    margin-left: 50%;
    margin-top: 20px;
    height: 100%;
}
#btnClick{
    margin-top: 2em;
    margin-left: 4em;
    
    
}
#bottom{
    
    margin-top: 8em;
    
}
#h101{
    text-align: center;
    font-size: 25px;
    margin-top: 3em
}
#p102{
    font-size: 20px;
}
#btnReset{
    margin-top: 2em;
    margin-left: 4em;
}
ion-row{
    width: 40%;
    margin: auto;
}
h2{
    width: 50%;
    margin: auto;
    margin-left: 38%;
}